---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>My Blog</h1>
    <p>This is where I'll post my blog entries.</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 800px;
  }
</style>

