---
import Layout from "../layouts/Layout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const pageTitle = "Niklas Ek";
---

<Layout pageTitle={pageTitle}>
  <main class="reading-content">
    <h1>Niklas Ek</h1>
    <ul class="blog-posts">
      {allPosts.map((post: any) => <BlogPostCard post={post} />)}
    </ul>
  </main>
</Layout>

<style>
  .blog-posts {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
