---
import { baseUrl } from "../utils/baseUrl";
const { post } = Astro.props;
---

<li>
  <a href={`${baseUrl}/posts/${post.id}`}>
    <article class="card">
      <h2>{post.data.title}</h2>
      <p>{post.data.description}</p>
      <p>
        {
          post.data.pubDate.toLocaleDateString("sv-SE", {
            dateStyle: "short",
          })
        }
      </p>
    </article>
  </a>
</li>

<style>
  .card {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
</style>
