---
import { baseUrl } from "../utils/baseUrl";

const currentPage = Astro.url.pathname;
---

<nav>
  <a href={`${baseUrl}/`} class={currentPage === "/" ? "active" : ""}>Blog</a>
  <a href={`${baseUrl}/tags`} class={currentPage === "/tags" ? "active" : ""}
    >Tags</a
  >
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;

    & > * {
      margin: 0;
      padding: 0;
      text-spacing-trim: trim-all;
    }
  }
</style>
