---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 16 16'><text x='0' y='14'>🌳</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <ThemeIcon />
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
    background-color: #0d0950;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
