---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout>
<h1>{frontmatter.title}</h1>
<p>Written by {frontmatter.author}</p>
<p>Published on {new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
})}</p>
<slot />
</Layout>